
.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
}

.logo {
  margin: 0;
  width: 228px;
  height: 32px;
  z-index: 2;
}

.logo_place_header {
  position:absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  margin-left: 64px;
  max-width: 730px;
  width: 100%;
  z-index: 2;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}

.header__subtitle {
  margin: 0;
  position: absolute;
  left: 64px;
  bottom: 30px;
  max-width: 388px;
  width: 100%;
  z-index: 2;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  margin: 0;
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  object-fit: fill;
 }

.header__square-pic {
  margin: 0;
  width: 568px;
  height: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
  z-index: 0;
}

.description {
  box-sizing: border-box;
  display: flex;
  position: relative;
}

.two-columns {
  margin: 100px auto 0;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  margin: 0;
  max-width: 175px;
  width: 100%;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 30px;
}

.two-columns__paragraph:last-of-type {
margin-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.section-title {
  width: 60%;
  margin: 100px auto 20px;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
 }

.section-title_theme_dark {
  margin: 90px auto 20px;
  color: #fff;
}

.section-subtitle {
  margin: 0 auto 0;
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.section-subtitle_theme_dark {
  color: #fff;
}

.table {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0 auto 100px;
  padding: 0;
}

.table_theme_dark {
  margin: 0 auto 90px;
  padding: 0;
}

.table__cell {
  z-index: 1;
  margin:60px 0 0;
  width: 250px;
}

.table__cell_theme_dark {
  margin:80px 0 0;
  width: 200px;
  color: #fff;
}

.table__heading {
  margin:0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin: 20px 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  background-color: #f2f2f2;
  box-sizing: border-box;
  min-height: 890px;
  margin: 0;
  position: relative;
  z-index: -2;
  display: flex;
  flex-direction: column;
}

.feynman__title {
  margin: 100px auto 0;
  max-width: 648px;
  width: 100%;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}

.feynman__subtitle {
  margin: 70px auto 0;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
 }

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  z-index: 1;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
}

.feynman__image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 867px;
  height: 637px;
  object-fit: fill;
  z-index: -1;
}

 .kaufman {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  overflow: hidden;
  background-color: #1f1f1f;
}

.kaufman__triangle {
  margin: 0;
  position: absolute;
  top: 0;
  right: -210px;
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  z-index: 0;
}

.footer {
  box-sizing: border-box;
  background-color: #1f1f1f;
  min-height: 350px;
  margin: 0;
  display: flex;
}

.footer__columns {
  width:90%;
  margin: 60px auto 40px;
  display: flex;
  justify-content: space-between;
}

.footer__column {
  margin: 0;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__column_content_info {
  color: #fff;
 }

 .footer__column_content_social {
  color: #fff;
 }


.footer__author  {
  color: #fff;
  margin: 18px 0 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  margin: 20px 0 16px;
}

.footer__column-link {
  margin: 0;
  display: block;
  color: #fff;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
}

.footer__social-icon {
  margin:0 10px 0 0;
  width: 16px;
  height: 16px;
}


